{deps, [
	grisp,
	grisp_emulation,
	{epmd , {git , "https://github.com/erlang/epmd" , {ref , "4d1a59"}}} ,
	%% {partisan , {git , "https://github.com/lasp-lang/partisan" , {branch , "master"}}},
	%% {lasp , {git , "https://github.com//lasp" , {branch , "feature-trim"}}}
    {lasp , {git , "https://github.com/Laymer/lasp.git" , {branch , "feature-logger"}}}
    %% {partisan , {git , "https://github.com/achlysproject/partisan.git" , {branch , "master"}}}

]}.

%% == Erlang ==

{erl_opts , [
    debug_info
]}.

%% == GRiSP ==

{ grisp , [
    {otp , [
        {version , "21.0"}
    ]} ,

    {build , [
        {toolchain , [
            {directory,"/Users/laymer/GRiSP/grisp-software/rtems-install/rtems/5"}]}
    ]} ,

    {deploy , [
    % ==========
    % Mac OS X :
    % ==========
        {pre_script, "rm -rf /Volumes/GRISP/*"},
        {destination, "/Volumes/GRISP"},
        {post_script, "diskutil unmount /Volumes/GRISP"}
    % ==========
    % Linux :
    % ==========
    %     {pre_script , "rm -rf /media/user/GRISP/*"} ,
    %     {destination , "/media/user/GRISP"} ,
    %     {post_script , "umount /media/user/GRISP"}
    ]}
]}.

%% == Shell ==
{ shell , [
    {apps , []} ,
    {config , "./config/test.config"}
]}.

%% == Relx ==

{ relx , [
%%------------------------------------------------------------------------------
    {release , {verontas , "0.1.0"} , [
        grisp ,
        {epmd , none} ,
        %yggdrasil,
        partisan ,
        lasp ,
        verontas
    ]}
% %%------------------------------------------------------------------------------
%     {dev_mode , false} ,
%     {generate_start_script , true} ,
%     {extended_start_script , true} ,
%     {sys_config , "./config/sys.config"} ,
%     {vm_args , "./config/vm.args"} ,
% %%------------------------------------------------------------------------------
%     % https://github.com/erlang/rebar3/issues/1808, by Fred Hebert
%     % Don't include source files
%     % {include_src, false} ,

%     % Makes code harder to debug, but drops
%     % debug data and source info from the final beam
%     % {debug_info, strip} ,

%     % List of apps that are included
%     % but you don't want (maybe wx or somehting?)
%     {exclude_apps, [
%         % lasp_support
%     ]} ,

%     % Drop modules you don't need in apps you depend on
%     {exclude_modules, [
%         lasp_redis_storage_backend ,
%         lasp_sql_lexer ,
%         lasp_sql_materialized_view ,
%         lasp_sql_parser
%     ]}
]}.

{ profiles , [
    {test , [
        {dev_mode , true} ,
        {erl_opts , [
            nowarn_export_all ,
            debug_info
        ]} ,
        {relx , [
            {sys_config , "./config/test.config"},
            {release , {verontas , "0.1.0"} , [
                % runtime_tools ,
                grisp ,
                {epmd , none} ,
                %yggdrasil,
                partisan ,
                lasp ,
                verontas
            ]}
        ]}
    ]}
]}.